@{
    ViewBag.Title = "Index";
}
@model List<UnitoysWebSite.Models.UT_GlobalContent>
<div class="service_banner">
    <div class="item"><img src="/Content/images/service_banner.png" /></div>
</div>
<div class="service_page">
    <div class="mbox content">
        <div class="p_nav">
            <ul>
                <li>
                    <a href="@Url.Action("Channel")" data-tab="#tabContent-Channel">售后渠道</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")" data-tab="#tabContent-Index" class="cur">售后政策</a>
                </li>
                <li>
                    <a href="@Url.Action("Question")" data-tab="#tabContent-Question">常见问题</a>
                </li>
            </ul>
        </div>

        <div id="tabContent-Channel" class="service_desc">
            @Html.Raw(Model.FirstOrDefault(x => x.GlobalContentType == (int)UnitoysWebSite.Models.GlobalContentType.Aftermarket).Content)
        </div>
        <div id="tabContent-Index" class="service_desc">
            @Html.Raw(Model.FirstOrDefault(x => x.GlobalContentType == (int)UnitoysWebSite.Models.GlobalContentType.AfterSalesPolicy).Content)
            @*爱小器承诺，商品自售出之日（以实际收货日期为准）起7日内，支持退货（不影响二次销售前提下）；非人为因素造成的硬件质量问题15日内包换（限同型号） ，一年质保。保修无需发票，详情可联系官方客服。唯乐全线产品目前仅支持在中国大陆地区提供售后服务。<br />
                以下情况不予办理退换货<br /><br />

                (1) 非爱小器产品；过保产品（超过三包保修期的产品）；<br />
                (2) 未经授权的第三方维修、误用、人为碰撞、疏忽、滥用、进液（产品浸入高温高湿环境或长时间置于有害化学制剂中）、事故、改动、不正确的安装或使用所造成的硬件问题，或撕毁、涂改商标、通过其它手段篡改机器代码序号、篡改防伪标记等；<br />
                (3) 商品的外包装、配件、说明书不完整，不办理退货服务；<br />
                (4) 因不可抗力造成的损坏。<br />
                维修须知<br /><br />

                (1) 保修期内非人为因素出现硬件故障可提供免费维修；超过保修期可享受有偿维护服务；不提供以旧换新。<br />
                (2) 维修范围：镜面、表壳、机身与腕带连接处、按键。功能性损坏，例如产品遭外力挤压变形，高温灼烧，化学制剂腐蚀等造成设备无法工作，此类不提供免费维护。<br />
                (3) 维修过程：官网填写维修申请-官方审核-寄送问题产品-官方维修-寄回。<br />
                (4) 维修周期：7-15个工作日（不含来回物流时间）产品配件不提供保修服务。<br />
                爱小器系列手表维修价格<br /><br />

                产品\报价	维修价格	说明<br />
                爱小器手换199元	仅限机头部分，寄回包邮<br />
                爱小器手换	199元	仅限机头部分，寄回包邮<br />
                Now系列手环维修价格<br /><br />

                产品\报价	维修价格	说明<br />
                爱小器手环	79元	仅限机头部分，寄回包邮<br />
                Now Classic	59元	仅限机头部分，寄回包邮<br />
                Now手环	59元	仅限机头部分，寄回包邮<br />
                关于配件<br /><br />

                产品充电器支持收货15天内硬件问题免费维护；经官方判定非人为因素造成的表带和腕带断裂，脱胶，缺失零件等，请在收货当日立即联系客服更换或退货。由于表带、腕带属耗材，不提供单独保修。<br />
                邮费须知<br /><br />

                申请产品维修或付费翻新时，寄方承担物品单方向寄来邮费；唯乐承担单方向寄回邮费；未与官方沟通，私自寄快递到付，一律拒收处理！<br />
                过保须知<br /><br />

                经官方确认已经超出保修期的唯乐产品，官方提供有偿维修服务,费用参考产品维护价目表。<br />*@
        </div>
        <div id="tabContent-Question" class="service_desc">
            @Html.Raw(Model.FirstOrDefault(x => x.GlobalContentType == (int)UnitoysWebSite.Models.GlobalContentType.CommonProblem).Content)
        </div>
    </div>
</div>