@{
    ViewBag.Title = "Index";
}
@model List<UnitoysWebSite.Models.UT_GlobalContent>
<div class="service_banner">
    <div class="item"><img src="/Content/images/service_banner.jpg" /></div>
</div>
<div class="service_page">
    <div class="mbox content">
        <div class="p_nav">
            <ul>
                <li>
                    <a data-tab="#tabContent-Channel" @(ViewBag.Type == "Channel" ? "class=cur" : "")>售后渠道</a>
                </li>
                <li>
                    <a data-tab="#tabContent-Index" @(ViewBag.Type == "Index" ? "class=cur" : "")>售后政策</a>
                </li>
                <li>
                    <a data-tab="#tabContent-Question" @(ViewBag.Type == "Question" ? "class=cur" : "")>常见问题</a>
                </li>
            </ul>
        </div>

        <div id="tabContent-Channel" class="service_desc tab-content @(ViewBag.Type == "Channel" ? "tab-content-show" : "")">
            @Html.Raw(Model.FirstOrDefault(x => x.GlobalContentType == (int)UnitoysWebSite.Models.GlobalContentType.Aftermarket).Content)
        </div>
        <div id="tabContent-Index" class="service_desc tab-content  @(ViewBag.Type == "Index" ? "tab-content-show" : "")">
            @Html.Raw(Model.FirstOrDefault(x => x.GlobalContentType == (int)UnitoysWebSite.Models.GlobalContentType.AfterSalesPolicy).Content)
        </div>
        <div id="tabContent-Question" class="tab-content @(ViewBag.Type == "Question" ? "tab-content-show" : "")">
            <div class="service_question">

                @Html.Raw(Model.FirstOrDefault(x => x.GlobalContentType == (int)UnitoysWebSite.Models.GlobalContentType.CommonProblem).Content)
            </div>
        </div>
    </div>
</div>