@{
    ViewBag.Title = "Index";
}
@model List<UnitoysWebSite.Models.UT_News>
<div class="news_main">
    <div class="mbox">
        <div class="leftbox">
            <div class="p_nav">
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "News")" @(ViewBag.Type == "industry" ? "" : "class=cur")>公司动态</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "News", new { type = "industry" })" @(ViewBag.Type == "industry" ? "class=cur" : "")>行业新闻</a>
                    </li>
                </ul>
            </div>
            <div class="top_news">
                @*<div class="newsbox">
                        <p class="pic"><a href="@Url.Action("Detail")"><img src="/Content/images/news_img1.jpg" /></a></p>
                        <p class="desc">标题标题标题标题标题标题<span>发布于：2017-03-24</span></p>
                    </div>*@
                @foreach (var item in Model.Where(x => x.IsTop == true))
                {
                    <div class="newsbox">
                        <p class="pic"><a href="@Url.Action("Detail", new { id = item.ID })"><img src="@item.Image" /></a></p>
                        <p class="desc">@item.Title<span>发布于：@item.NewsDate.ToString("yyyy-MM-dd")</span></p>
                    </div>
                }
            </div>
            <div class="news_list">
                <ul>
                    @foreach (var item in Model.Where(x => x.IsTop == false))
                    {
                        <li>
                            <div class="newsbox">
                                <p class="pic"><a href="@Url.Action("Detail", new { id = item.ID })"><img src="@item.Image" /></a></p>
                                <p class="desc">@item.Title<span>发布于：@item.NewsDate.ToString("yyyy-MM-dd")</span></p>
                            </div>
                        </li>
                    }
                    @*<li>
                            <div class="newsbox">
                                <p class="pic"><a href="@Url.Action("Detail")"><img src="/Content/images/news_img2.jpg" /></a></p>
                                <p class="desc">标题标题标题标题标题标题<span>发布于：2017-03-24</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox">
                                <p class="pic"><a href="@Url.Action("Detail")"><img src="/Content/images/news_img2.jpg" /></a></p>
                                <p class="desc">标题标题标题标题标题标题<span>发布于：2017-03-24</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox">
                                <p class="pic"><a href="@Url.Action("Detail")"><img src="/Content/images/news_img2.jpg" /></a></p>
                                <p class="desc">标题标题标题标题标题标题<span>发布于：2017-03-24</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox">
                                <p class="pic"><a href="@Url.Action("Detail")"><img src="/Content/images/news_img2.jpg" /></a></p>
                                <p class="desc">标题标题标题标题标题标题<span>发布于：2017-03-24</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox">
                                <p class="pic"><a href="@Url.Action("Detail")"><img src="/Content/images/news_img2.jpg" /></a></p>
                                <p class="desc">标题标题标题标题标题标题<span>发布于：2017-03-24</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox">
                                <p class="pic"><a href="@Url.Action("Detail")"><img src="/Content/images/news_img2.jpg" /></a></p>
                                <p class="desc">标题标题标题标题标题标题<span>发布于：2017-03-24</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox">
                                <p class="pic"><a href="@Url.Action("Detail")"><img src="/Content/images/news_img2.jpg" /></a></p>
                                <p class="desc">标题标题标题标题标题标题<span>发布于：2017-03-24</span></p>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox">
                                <p class="pic"><a href="@Url.Action("Detail")"><img src="/Content/images/news_img2.jpg" /></a></p>
                                <p class="desc">标题标题标题标题标题标题<span>发布于：2017-03-24</span></p>
                            </div>
                        </li>*@
                </ul>
            </div>
        </div>
        <div class="rightbox">
            <div class="dy_weixin">
                <h5>微信公众号订阅</h5>
                <p class="tips">第一时间获取我们的更新和新服务信息</p>
                <p class="pic"><img src="/Content/images/qrcode_weixin.png" /></p>
            </div>
            <div class="dy_email">
                <h5>邮箱订阅</h5>
                <p class="tips">第一时间获取我们的更新和新服务信息</p>
                <p class="form">
                    <input type="text" placeholder="姓名" />
                    <input type="text" placeholder="电子邮箱" />
                    <a href="#">立即订阅</a>
                </p>
            </div>
            <div class="dy_shejiao">
                <h5>社交媒体</h5>
                <p class="tips">随时咨询我们的工作人员</p>
                <p class="btnp"><a href="#" class="btn_weibo">新浪微博</a></p>
                <p class="btnp"><a href="#" class="btn_facebook">FaceBook</a></p>
            </div>
        </div>
    </div>
</div>